        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/cities/4311">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li><a href="/cities/4311/packings">装烟情况统计</a></li>
            <li><a href="/cities/4311/bakingHistory">烘烤量统计</a></li>
            <li><a href="#">烤房使用情况统计</a></li>
            <li><a href="/cities/4311/alarms">烤房远程监管</a></li>
          </ul>         
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashbord</h1>
           <div class="row">
            <div id="chartContainer" style="height: 300px; width: 90%;"></div>
          </div>
        </div>
      </div>
<script type="text/javascript">
$('document').ready(function(){
	var chart = new CanvasJS.Chart("chartContainer",
	{
	animationEnabled: true,
	title:{
		text: "永州各县鲜烟量"
	},
	data: [
	{
		type: "column", //change type to bar, line, area, pie, etc
		dataPoints: [
			{ label: "江华县", y: 324957 },
			{ label: "道县", y: 0 },
			{ label: "双牌县",  y: 0 },                                    
			{ label: "蓝山县",  y: 0 },
			{ label: "宁远县",  y: 0 }
		]
	}
	]
	});

	chart.render();
})

</script>