        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashbord">烘烤总览</a></li>
            <li ><a href="/fresh_analysis">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li ><a href="/fresh_tobacco/packings">装烟情况统计</a></li>
            <li class="active"><a href="/workflows/baking_history?code=<%= role %>">烘烤量统计</a></li>
            <li><a href="/analysis_room_usage?groupBy=2&code=<%= role %>">烤房使用情况统计</a></li>
            <li><a href="/alarms">烤房远程监管</a></li>
          </ul>       
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         
          
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 col-md-12">
                        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="link">烘烤量统计分析</a></li>
              <li role="presentation"><a href="/baking_analysis/baking?groupBy=2&code=<%= role %>" aria-controls="profile" role="tab" data-toggle="link">在烤统计分析</a></li>
            </ul>
             <br>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
               <div class="row">
                  <div class="col-xs-3" id="counties">
                    <select id="place" class="form form-control" style="background:#B0E0E6">
                      <option value="">选择县</option>
                    </select>
                  </div>
                  <div class="col-xs-3" id="towns" style="display: none">
                    <select id="town" class="form form-control">
                    </select>
                  </div>
                  <div class="col-xs-3" id="stations" style="display: none">
                    <select id="station" class="form form-control">
                    </select>
                  </div>

                </div>
                <br>
                <div id="search-advance" >
                   <div class="row">
                  <div class="col-xs-3">
                    <input id="tobaccoNo" type="text" class="form-control" placeholder="烟基编号"style="background:#E6E6FA">
                  </div>
                 
                   <div class="col-xs-3">
                      <input id="roomNo" type="text" class="form-control" placeholder="烤房编号" style="background:#E6E6FA">
                  </div>
                  </div>
                <br>
                <div class="row">
                 <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开始日期</div>
                            <input type="text" class="form-control" id="protocolStartDate" name="startDate" placeholder="YYYY-MM--DD" />
                        </div>
                      </div> 
                  </div>
                <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">结束日期</div>
                            <input type="text" class="form-control" id="protocolEndDate" name="endDate" placeholder="YYYY-MM--DD"/>
                        </div>
                      </div> 
                  </div>
                </div>
                </div>
                 <br>
               <div class="row">
                  <div class="col-xs-1"><button type="button" class="btn btn-primary" id="searchButton">搜索</button></div>
                  <div class="col-xs-3"><button type="button" class="btn btn-default" style="background:#BC8F8F">重置</button></div>
                </div>
              </div>
             
            </div>
            </div>
            </div>
          </div>

          <h5 class="sub-header" style="text-align:center">烘烤量统计表</h5>
          <h6 style="text-align:center">单位：公斤</h6>
          <div class="table-responsive">
            <table id="table" class="display table" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th rowspan="2">烤房</th>
                  <th rowspan="2">烟基号</th>
                  <th colspan="2">第一烤</th>
                  <th colspan="2">第二烤</th>
                  <th colspan="2">第三烤</th>
                  <th colspan="2">第四烤</th>
                  <th colspan="2">第五烤</th>
                </tr>
                <tr>
                  
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                 
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                 
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>

                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                </tr>
              </thead>
              
            </table>
           
          </div>
        </div>
      </div>
<script type="text/javascript">
  var table; 
  var advanceDisplay = false;
  var stateParam = <%= role %>;

  $(document).ready(function() {
    table = $('#table').dataTable({
      "scrollCollapse": true,
      'searching': false
    });

    initSearchButton('/workflows/baking_history?',
     function(data){
          if(data){
            table.api().clear().draw();
            table.api().rows.add(initDataForStatistics(data)).draw();
          } 
      }
    );

    initLinkedSelectByJSON(stateParam);
    initAdvanceSearchLink();
    

    $.getJSON('/workflows/baking_history?&code=' + stateParam, function(data){
      if(data){
         table.api().clear().draw();
         table.api().rows.add(initDataForStatistics(data)).draw();
      }else
         table.api().clear().draw();
    })

    
  });

  function initDataForStatistics(data){
    var datasets = [];

    data.forEach(function(element){
      var array = [];
      array.push(element.room_no);
      array.push(element.tobacco_no);

      var count = 0;
      element.history.forEach(function(h){
        array.push(h.fresh_weight);
        array.push(h.dry_weight);
        count++;
      });

      if(element.baking_weight > 0){
        array.push(element.baking_weight);
        array.push('');
        count++;
      }
      
      if(count < 5){
        for(var i = 0; i < 5 - count; i++){
          array.push('');
          array.push('');
        }
      }

      datasets.push(array);
      

    });
    return datasets;
  }
 


</script>
