        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashbord">烘烤总览</a></li>
            <li ><a href="/fresh_tobacco">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li><a href="/fresh_tobacco/packings">装烟情况统计</a></li>
            <li class="active"><a href="#">烘烤量统计</a></li>
            <li><a href="#">烤房使用情况统计</a></li>
            <li><a href="">烤房远程监管</a></li>
          </ul>        
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         
          
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 col-md-12">
                        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="/workflows/fresh_tobacco" aria-controls="home" role="tab" data-toggle="tab">烘烤量统计分析</a></li>
              <li role="presentation"><a href="/workflows/fresh_tobacco/breeds" aria-controls="profile" role="tab" data-toggle="tab">在烤统计分析</a></li>
              <li role="presentation"><a href="/workflows/fresh_tobacco/fresh_type" aria-controls="messages" role="tab" data-toggle="tab">烘烤历史数据分析</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-xs-2">
                    <select id="place" class="form form-control">
                      <option value="">选择县</option>
                    </select>
                  </div>
                  <div class="col-xs-2"><input id="tobaccoNo" type="text" class="form-control" placeholder="烟基编号"></div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开始日期</div>
                            <input type="text" class="form-control" id="protocolStartDate" name="startDate" />
                        </div>
                      </div> 
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">结束日期</div>
                            <input type="text" class="form-control" id="protocolEndDate" name="endDate" />
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="row">
                  
                   <div class="col-xs-2">
                  <input id="roomNo" type="text" class="form-control" placeholder="烤房编号">

                   </div>
                 
                  <div class="col-xs-2"><button type="button" class="btn btn-primary" id="searchButton">搜索</button></div>
                  <div class="col-xs-2"><button type="button" class="btn btn-default">重置</button></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">...</div>
              <div role="tabpanel" class="tab-pane" id="messages">...</div>
              <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>
        </div>
            </div>
          </div>

          <h5 class="sub-header" style="text-align:center">烘烤量统计表</h5>
          <h6 style="text-align:center">单位：公斤</h6>
          <div class="table-responsive">
            <table id="example" class="display" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th rowspan="2">烤房</th>
                  <th rowspan="2">烟基号</th>
                  <th rowspan="2">机构组织</th>
                  <th colspan="3">第一烤</th>
                  <th colspan="3">第二烤</th>
                  <th colspan="3">第三烤</th>
                  <th colspan="3">第四烤</th>
                </tr>
                <tr>
                  <th>开烤时间</th>
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                  <th>开烤时间</th>
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                  <th>开烤时间</th>
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                  <th>开烤时间</th>
                  <th>鲜烟重量</th>
                  <th>干烟重量</th>
                </tr>
              </thead>
            </table>
           
          </div>
        </div>
      </div>
<script type="text/javascript">
  var table; 
  var advanceDisplay = false;
  var stateParam = <%= role %>;

  $(document).ready(function() {
    table = $('#example').dataTable( {
      "scrollY": 200,
      "scrollX": true
    });

    //initSearchButton('/workflows/fresh_tobacco/breeds?');
    initLinkedSelect();
    initAdvanceSearchLink();
  });

  function setStateParam(state){
      stateParam = state;
  }

  function initAdvanceSearchLink(){
    $('#advance-search-link').on('click', function(){
      if(advanceDisplay)
        $('#search-advance').hide();
      else
        $('#search-advance').show();

      advanceDisplay = !advanceDisplay;
    });
  }

  function initLinkedSelect(){
    var cityId = <%= role %>;
    $.getJSON('/cities/' + cityId, function(data){
      if(data){
        console.log(data);
        var options = '';
        data.forEach(function(county, index){
          options += '<option value="' +county.id +'">' + county.name + '</option>';
        });
        $(options).appendTo($('#place'));
      }
    });

    $('#place').on('change', function(){
        var county = $('#place').val();
        setStateParam(county);

        $.getJSON('/counties/' + county + '/towns', function(data){
          
          if(data.length > 0){
            var options = '<option value="">选择镇</option>';
            data.forEach(function(town, index){
              options += '<option value="'+ town.id +'">' + town.name + '</option>';
            });
            $(options).appendTo($('#town'));
            $('#towns').show();
          }
        });
    });

    $('#town').on('change', function(){
        var town = $('#town').val();
        setStateParam(town);

        $.getJSON('/towns/' + town + '/stations', function(data){
          if(data.length > 0){
              console.log(data);
              var options = '<option value="">选择工场</option>';
              data.forEach(function(station, index){
                options += '<option value="' + station.middlewares + '">' + station.name + '</option>';
              });
              $(options).appendTo($('#station'));
              $('#stations').show();
          }
        })
      });

    $('#station').on('change', function(){
        setStateParam($('#station').val());
    });
  }

  function initSearchButton(url){
    $('#searchButton').on('click', function(){
      var baseUrl = url;
      var roomNo = $('#roomNo').val();
      var tobaccoNo = $('#tobaccoNo').val();
    
      var protocolStartDate = $('#protocolStartDate').val();
      var protocolEndDate = $('#protocolEndDate').val();

      if(roomNo != '')
        baseUrl += 'room_no=' + roomNo + '&'  
      if(tobaccoNo != '')
        baseUrl += 'tobacco_no=' + tobaccoNo + '&';
     
      if(stateParam != '')
        baseUrl += 'code=' + stateParam + '&';
     
      if(protocolStartDate != '')
        baseUrl += 'startDate=' + protocolStartDate + '&';

      if(protocolEndDate != '')
        baseUrl += 'endDate=' + protocolEndDate + '&';

      baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('&') );
      console.log(baseUrl);
      $.getJSON(baseUrl, function(data){
          
          table.api().clear().draw();
          
          if(data){
            table.api().rows.add(data).draw();
            showChart();
         }

      });
    });
  }

</script>