        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashbord">烘烤总览</a></li>
            <li ><a href="/fresh_analysis">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li ><a href="/fresh_tobacco/packings">装烟情况统计</a></li>
            <li><a href="/workflows/baking_history?code=<%= role %>">烘烤量统计</a></li>
            <li><a href="/analysis_room_usage?groupBy=2&code=<%= role %>">烤房使用情况统计</a></li>
            <li class="active"><a href="/alarms">烤房远程监管</a></li>
          </ul>         
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Monitor</h1>
          <div class="row">

            <div class="col-xs-2"><input id="roomNo" type="text" class="form-control" placeholder="烤房编号"></div>
            <div class="col-xs-3">
                <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">开始日期</div>
                      <input type="text" class="form-control" id="protocolStartDate" name="protocolStartDate" />
                  </div>
                </div> 
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                  <div class="input-group">
                      <div class="input-group-addon">结束日期</div>
                      <input type="text" class="form-control" id="protocolEndDate" name="protocolEndDate" />
                  </div>
                </div> 
            </div>
            <div class="col-xs-2"><button id="search_btn" type="button" class="btn btn-primary">搜索</button></div>
          </div>
          <h5>Per hour</h5>
          <div id="chartContainer" style="height: 400px; width: 100%; display: none"></div>

          <hr />
          <h3 style="text-align: center; display:none" id="loading">Loading...</h3>
          <div class="table-responsive">

            <table id="alarms" class="table table-striped table-hover table-condensed cell-border">
              <thead>
                <tr>
                  <th>时间</th>
                  <th>干球实际温度</th>
                  <th>湿球实际温度</th>
                  
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
<script type="text/javascript">
var table;
  $(document).ready(function() {
    table =  $('#alarms').dataTable({
        "retrieve": true,
        "searching" : false,
        'ordering' : true,
        columns:[
          { data: 'createdAt' },
          { data: 'dry'},
          { data: 'wet'}
        ]
    });

   })
 

  $('#search_btn').on('click', function(){
    var roomNo = $('#roomNo').val();
    var startDate = $('#protocolStartDate').val();
    var endDate = $('#protocolEndDate').val();

    if(roomNo != ''){
      var datasets = [];
      var dryPoints = [];
      var wetPoints = [];
      var baseURL = '/alarms/' + roomNo + '?';

      if(startDate == '' || endDate == ''){
        alert('请输入日期');
      }else{
        baseURL += 'startDate=' +startDate + '&endDate='+endDate;
        $('#loading').show();

        $.getJSON(baseURL, function(result){
          
          if(result){
            $('#loading').text('Initializing Data...');

            var days = ((new Date(endDate)).getTime() - (new Date(startDate)).getTime())/(3600000*24);
            var looper = 0;

            if(days * 24 * 30 > result.length)
              looper = Math.floor(result.length / 30);
            else
              looper = days * 24;

            for(var i =0; i < looper; i++){
            
              var data = result[i*30];
              var alarm = parseAlarm(data.data);
              var dateTime = data.createdAt.split('.')[0];
              var date = dateTime.split('T')[0];
              var time = dateTime.split('T')[1];

              var object = {createdAt: data.createdAt.split('.')[0] ,
                            dry: alarm[0],
                            wet: alarm[1]};

              var createdAt = (new Date(date.split('-')[0], date.split('-')[1] - 1 , date.split('-')[2],
                                        time.split(':')[0], time.split(':')[1] - 1 , time.split(':')[2])).
                                        getTime();

              if(parseFloat(object.dry) > 80 || parseFloat(object.dry) < 20)
                dryPoints.push({x: createdAt, y: undefined});
              else
                dryPoints.push({x: createdAt, y: object.dry});

              if(parseFloat(object.wet) > 80 || parseFloat(object.wet) < 20)
                wetPoints.push({x: createdAt, y: undefined});
              else
                wetPoints.push({x: createdAt, y: object.wet});

              datasets.push(object);
            }

            $('#chartContainer').show();
            var chart = new CanvasJS.Chart("chartContainer",
                {
                  animationEnabled: true,
                  axisX:{
                    gridColor: "Silver",
                    tickColor: "silver",
                    interval:1, 
                    intervalType: "minut",        
                    valueFormatString: "YYYY-MM-DD HH:mm:ss", 
                    labelAngle: -50
                  },                        
                  toolTip:{
                    shared:true
                  },
                  theme: "theme2",
                  axisY: {
                    gridColor: "Silver",
                    tickColor: "silver"
                  },
                  legend:{
                    verticalAlign: "center",
                    horizontalAlign: "right"
                  },
                  data: [
                  {        
                    type: "line",
                    showInLegend: true,
                    lineThickness: 2,
                    name: "干球实际温度",
                    markerType: "square",
                    color: "#F08080",
                   
                    valueFormatString: "YYYY-MM-DD:HH:mm:ss",
                    dataPoints: dryPoints
                  },
                  {        
                    type: "line",
                    showInLegend: true,
                    name: "湿球实际温度",
                    color: "#20B2AA",
                    lineThickness: 2,
                    xValueType: "dateTime",
                    dataPoints: wetPoints
                  }
                  ],
                  legend:{
                    cursor:"pointer",
                    itemclick:function(e){
                      if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible){
                        e.dataSeries.visible = false;
                      }
                      else{
                        e.dataSeries.visible = true;
                      }
                      chart.render();
                    }
                  }
                });
            chart.render();
          }else
            $('#loading').text('Data not found!');

            $('#loading').hide();
            table.api().clear().draw();    
            table.api().rows.add(datasets).draw();
        })
      }
    }else
      alert('请填写烤房号');
  });
</script>