        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashbord">烘烤总览</a></li>
            <li><a href="/fresh_analysis">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#">装烟情况统计</a></li>
            <li><a href="/workflows/baking_history?code=<%= role %>">烘烤量统计</a></li>
            <li><a href="/analysis_room_usage?groupBy=2&code=<%= role %>">烤房使用情况统计</a></li>
            <li><a href="/alarms">烤房远程监管</a></li>
          </ul>         
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                  <a href="#" aria-controls="home" role="tab" data-toggle="tab">鲜烟装烟分析</a>
                  </li>
                </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="radio">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 按烤房统计
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 按烟农统计
                      </label>
                      
                        <a href="javascript:void(0)" id="advance-search-link">高级搜索</a>
                    
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2" id="counties">
                    <select id="place" class="form form-control">
                      <option value="">选择县</option>

                    </select>
                  </div>
                  <div class="col-xs-2" id="towns" style="display: none">
                    <select id="town" class="form form-control">
                    </select>
                  </div>
                  <div class="col-xs-2" id="stations" style="display: none">
                    <select id="station" class="form form-control">
                    </select>
                  </div>

                </div>
                <div id="search-advance" style="display: none">
                   <div class="row">
                  <div class="col-xs-2">
                    <input id="tobaccoNo" type="text" class="form-control" placeholder="烟基编号">
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开始日期</div>
                            <input type="text" class="form-control" id="protocolStartDate" name="startDate" placeholder="YYYY-M-D"/>
                        </div>
                      </div> 
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">结束日期</div>
                            <input type="text" class="form-control" id="protocolEndDate" name="endDate" placeholder="年-月-日"/>
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                      <input id="roomNo" type="text" class="form-control" placeholder="烤房编号">
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-xs-2"><button type="button" class="btn btn-primary" id="searchButton">搜索</button></div>
                  <div class="col-xs-2"><button type="button" class="btn btn-default">重置</button></div>
                  </div>
              </div>
            </div>
        </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <div id="container1" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div id="container2" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div id="container3" style="height: 300px; width: 100%;"></div>
            </div>
          </div>
          <div class="row">
            <h5 class="sub-header" style="text-align:center">烘烤编烟统计表</h5>
            <h6 style="text-align:center">单位：公斤</h6>
            <div class="table-responsive">
              <table class="table table-striped table-hover table-condensed" id="sumTable">
                <thead>
                  <tr>
                    <th rowspan="2">地区</th>
                    <th rowspan="2">装烟量</th>
                    <th rowspan="2">每杆重量</th>
                    <th rowspan="2">装烟量(杆)</th>
                    <th colspan="2">编杆分类(杆)</th>
                    <th colspan="2">杆/夹分类(杆)</th>
                    <th colspan="2">分类装烟情况(房)</th>
                    <th colspan="3">均匀性(房)</th>
                  </tr>
                  <tr>
                    <th>同质</th>
                    <th>混编</th>
                    <th>均匀</th>
                    <th>不均匀</th>
                    <th>正确</th>
                    <th>不正确</th>
                    <th>均匀</th>
                    <th>前密后稀</th>
                    <th>前稀后密</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <h5 class="sub-header" style="text-align: center">烘烤编烟查询表</h5>
          <h6 style="text-align: center">单位：公斤</h6>
          <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed" id="table">
              <thead>
                <tr>
                    <th rowspan="2">烤房编号</th>
                    <th rowspan="2">烟基号</th>
                    <th rowspan="2">装烟量</th>
                    <th rowspan="2">装烟量(杆)</th>
                    <th colspan="2">编杆分类(杆)</th>
                    <th colspan="2">杆/夹分类(杆)</th>
                    <th colspan="2">分类装烟情况(房)</th>
                    <th colspan="3">均匀性(房)</th>
                  </tr>
                  <tr>
                    
                    <th>同质</th>
                    <th>混编</th>
                    <th>均匀</th>
                    <th>不均匀</th>
                    <th>正确</th>
                    <th>不正确</th>
                    <th>均匀</th>
                    <th>前密后稀</th>
                    <th>前稀后密</th>
                </tr>
              </thead>
            </table>
           
          </div>
        </div>
      </div>
<script type="text/javascript">
  var table;
  var sumTable;

  var advanceDisplay = false;
  var stateParam = <%= role %>;


  $('document').ready(function(){
      table = $('#table').dataTable({
        "scrollCollapse": true,
        'searching': false,
        columns: [
            { data: 'room_no' },
            { data: 'tobacco_no'},
            { data: 'amount'},
            { data: 'bars'   },
            { data: 'totalA' },
            { data: 'totalB' },
            { data: 'totalJ' },
            { data: 'totalK' },
            { data: 'totalF' },
            { data: 'totalG' },
            { data: 'totalC' },
            { data: 'totalD' },
            { data: 'totalE' } 
          ]
      });

      sumTable = $('#sumTable').dataTable({
        "scrollCollapse": true,
        "paging": false,
        'searching': false
      });

    initSearchButton('/workflows/fresh_tobacco/packings?groupBy=2&', 
                    function(data){
                      table.api().clear().draw();
                      if(data){
                        table.api().rows.add(data).draw();
                      }
                      initDataForStatistics();
    });

    initLinkedSelectByJSON(stateParam);
    initAdvanceSearchLink();
    initDataForStatistics();


  });

  function initDataForStatistics(){
      var url = '/workflows/fresh_tobacco/packings?code=' + stateParam;
      $.getJSON(url, function(data){    
        if(data){
          var datasets = [];
          data.forEach(function(element){
            var array = [];
            
            switch((stateParam +'').length){
              case 2:
                array.push(element.city);
                break;
              case 4:
                array.push(element.county);
                break;
              case 6:
                array.push(element.town);
                break;
              case 8:
                array.push(element.org_name);
                break;
            }

            array.push(element.amount.toFixed(2));
            array.push((element.amount / element.bars).toFixed(2));
            array.push(element.bars);
            

            array.push(element.totalA);
            array.push(element.totalB);

            array.push(element.totalJ);
            array.push(element.totalK);

            array.push(element.totalF);
            array.push(element.totalG);

            array.push(element.totalC);
            array.push(element.totalD);
            array.push(element.totalE);
            
            datasets.push(array);
          });

          sumTable.api().clear().draw();    
          sumTable.api().rows.add(datasets).draw();

          createPieChart('container1', generatePieChartDatasets(sumTable,[4,5], ['同质','混编']));
          createPieChart('container2', generatePieChartDatasets(sumTable,[6,7], ['均匀','不均匀']));
          createPieChart('container3', generatePieChartDatasets(sumTable,[10,11,12], ['均匀','前密后稀', '前稀后密']));
        }else{
          sumTable.api().clear().draw();
          $('#sumChartContainer').hide();
          $('#chartContainer').hide();   
        } 
    });
  }

  function showChart(){
    var datasets = prepairDatasets(table);

    $('#chartContainer').show();
    var chart = new CanvasJS.Chart("chartContainer",
      {
        
        legend: {
          maxWidth: 350,
          itemWidth: 120
        },
        data: [
        {
          type: "pie",
          showInLegend: true,
          legendText: "{indexLabel}",
          toolTipContent: "{y} - #100 %",
          dataPoints: datasets
        }
        ]
      });
      chart.render();
  }

  function initSearchButton(url){
    $('#searchButton').on('click', function(){
      var baseUrl = url;
      var roomNo = $('#roomNo').val();
      var tobaccoNo = $('#tobaccoNo').val();
    
      var protocolStartDate = $('#protocolStartDate').val();
      var protocolEndDate = $('#protocolEndDate').val();

      if(roomNo != '')
        baseUrl += 'room_no=' + roomNo + '&'  
      if(tobaccoNo != '')
        baseUrl += 'tobacco_no=' + tobaccoNo + '&';
     
      if(stateParam != '')
        baseUrl += 'code=' + stateParam + '&';
     
      if(protocolStartDate != '')
        baseUrl += 'startDate=' + protocolStartDate + '&';

      if(protocolEndDate != '')
        baseUrl += 'endDate=' + protocolEndDate + '&';

      baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('&') );
      
      $.getJSON(baseUrl, function(data){
          
          table.api().clear().draw();
          
          if(data){

            table.api().rows.add(data).draw();
            //showChart();
         }

      });
    });
  }

</script>
