        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/overview">烘烤总览</a></li>
            <li><a href="/frehs_tobacco">鲜烟素质分析 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">装烟情况统计</a></li>
            <li><a href="">烘烤量统计</a></li>
            <li><a href="#">烤房使用情况统计</a></li>
            <li><a href="">烤房远程监管</a></li>
          </ul>          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                  <a href="#" aria-controls="home" role="tab" data-toggle="tab">鲜烟成熟度分析</a>
                  </li>
                </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="row">
                  <div class="col-xs-6 col-sm-4">
                    <div class="radio">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> 按烤房统计
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 按烟农统计
                      </label>
                      
                        <a href="javascript:void(0)" id="advance-search-link">高级搜索</a>
                    
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2" id="counties">
                    <select id="place" class="form form-control">
                      <option value="">选择县</option>

                    </select>
                  </div>
                  <div class="col-xs-2" id="towns" style="display: none">
                    <select id="town" class="form form-control">
                    </select>
                  </div>
                  <div class="col-xs-2" id="stations" style="display: none">
                    <select id="station" class="form form-control">
                    </select>
                  </div>

                </div>
                <div id="search-advance" style="display: none">
                   <div class="row">
                  <div class="col-xs-2">
                    <input id="tobaccoNo" type="text" class="form-control" placeholder="烟基编号">
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">开始日期</div>
                            <input type="text" class="form-control" id="protocolStartDate" name="startDate" placeholder="YYYY-M-D"/>
                        </div>
                      </div> 
                  </div>
                  <div class="col-xs-3">
                      <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">结束日期</div>
                            <input type="text" class="form-control" id="protocolEndDate" name="endDate" placeholder="年-月-日"/>
                        </div>
                      </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                      <input id="roomNo" type="text" class="form-control" placeholder="烤房编号">
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-xs-2"><button type="button" class="btn btn-primary" id="searchButton">搜索</button></div>
                  <div class="col-xs-2"><button type="button" class="btn btn-default">重置</button></div>
                  </div>
              </div>
            </div>
        </div>
            </div>
          </div>
                    <div class="row">
            <h5 class="sub-header" style="text-align:center">烘烤鲜烟品种统计表</h5>
            <h6 style="text-align:center">单位：公斤</h6>
            <div class="table-responsive">
              <table class="table table-striped table-hover table-condensed" id="sumTable">
                <thead>
                  <tr>
                    <th>地区</th>
                    <th>鲜烟总量</th>
                    <th>装烟量</th>
                    <th>同杆同质</th>
                    <th>混编</th>
                    <th>均匀</th>
                    <th>前密后稀</th>
                    <th>前稀后密</th>
                    <th>同层同质</th>
                    <th>按气流方式正确分层</th>
                    <th>各竿/夹量基本一致</th>
                    <th>各竿/夹量不一致</th>
                    <th>同竿/夹均匀</th>
                    <th>同竿/夹不匀</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <h5 class="sub-header" style="text-align: center">烘烤鲜烟装烟情况查询表</h5>
          <h6 style="text-align: center">单位：公斤</h6>
          <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed" id="table">
              <thead>
                <tr>
                  <th>烤房编号</th>
                  <th>烟基号</th>
                  <th>鲜烟总量</th>
                  <th>装烟量</th>
                  <th>同杆同质</th>
                  <th>混编</th>
                  <th>均匀</th>
                  <th>前密后稀</th>
                  <th>前稀后密</th>
                  <th>同层同质</th>
                  <th>按气流方式正确分层</th>
                  <th>各竿/夹量基本一致</th>
                  <th>各竿/夹量不一致</th>
                  <th>同竿/夹均匀</th>
                  <th>同竿/夹不匀</th>
                </tr>
              </thead>
            </table>
           
          </div>
        </div>
      </div>
<script type="text/javascript">
  var table;
  var sumTable;

  var advanceDisplay = false;
  var stateParam = <%= role %>;


  $('document').ready(function(){
      table = $('#table').dataTable({
        "scrollCollapse": true,
        columns: [
            { data: 'room' },
            { data: 'tobacco_no'},
            { data: 'amount'},
            { data: 'bars'   },
            { data: 'totalA' },
            { data: 'totalB' },
            { data: 'totalC' },
            { data: 'totalD' },
            { data: 'totalE' },
            { data: 'totalF' },
            { data: 'totalG' },
            { data: 'totalH' },
            { data: 'totalI' },
            { data: 'totalJ' },
            { data: 'totalK' }
          ]
      });

      sumTable = $('#sumTable').dataTable({
        "scrollCollapse": true,
        "paging": false,
        'searching': false,
        columns: [
            { data: 'county' },
            { data: 'amount' },
            { data: 'bars'   },
            { data: 'totalA' },
            { data: 'totalB' },
            { data: 'totalC' },
            { data: 'totalD' },
            { data: 'totalE' },
            { data: 'totalF' },
            { data: 'totalG' },
            { data: 'totalH' },
            { data: 'totalI' },
            { data: 'totalJ' },
            { data: 'totalK' }
          ]
      });

      initSearchButton('/workflows/fresh_tobacco/packings?');
      initLinkedSelect();
      initAdvanceSearchLink();
    $.getJSON('/workflows/fresh_tobacco/packings?groupBy=2&code=' + stateParam, function(data){
      
      if(data){
        data.forEach(function(element, index){
          console.log(element);
          sumTable.api().clear().draw();    
          sumTable.api().rows.add(data).draw();
        });
      }
    });
  });

  function showChart(){
    var datasets = prepairDatasets(table);

    $('#chartContainer').show();
    var chart = new CanvasJS.Chart("chartContainer",
      {
        
        legend: {
          maxWidth: 350,
          itemWidth: 120
        },
        data: [
        {
          type: "pie",
          showInLegend: true,
          legendText: "{indexLabel}",
          toolTipContent: "{y} - #100 %",
          dataPoints: datasets
        }
        ]
      });
      chart.render();
  }

  function setStateParam(state){
      stateParam = state;
  }

  function initAdvanceSearchLink(){
    $('#advance-search-link').on('click', function(){
      if(advanceDisplay)
        $('#search-advance').hide();
      else
        $('#search-advance').show();

      advanceDisplay = !advanceDisplay;
    });
  }

  function initLinkedSelect(){
    var cityId = <%= role %>;
    $.getJSON('/cities/' + cityId, function(data){
      if(data){
        console.log(data);
        var options = '';
        data.forEach(function(county, index){
          options += '<option value="' +county.id +'">' + county.name + '</option>';
        });
        $(options).appendTo($('#place'));
      }
    });

    $('#place').on('change', function(){
        var county = $('#place').val();
        setStateParam(county);

        $.getJSON('/counties/' + county + '/towns', function(data){
          
          if(data.length > 0){
            var options = '<option value="">选择镇</option>';
            data.forEach(function(town, index){
              options += '<option value="'+ town.id +'">' + town.name + '</option>';
            });
            $(options).appendTo($('#town'));
            $('#towns').show();
          }
        });
    });

    $('#town').on('change', function(){
        var town = $('#town').val();
        setStateParam(town);

        $.getJSON('/towns/' + town + '/stations', function(data){
          if(data.length > 0){
              console.log(data);
              var options = '<option value="">选择工场</option>';
              data.forEach(function(station, index){
                options += '<option value="' + station.middlewares + '">' + station.name + '</option>';
              });
              $(options).appendTo($('#station'));
              $('#stations').show();
          }
        })
      });

    $('#station').on('change', function(){
        setStateParam($('#station').val());
    });
  }

  function initSearchButton(url){
    $('#searchButton').on('click', function(){
      var baseUrl = url;
      var roomNo = $('#roomNo').val();
      var tobaccoNo = $('#tobaccoNo').val();
    
      var protocolStartDate = $('#protocolStartDate').val();
      var protocolEndDate = $('#protocolEndDate').val();

      if(roomNo != '')
        baseUrl += 'room_no=' + roomNo + '&'  
      if(tobaccoNo != '')
        baseUrl += 'tobacco_no=' + tobaccoNo + '&';
     
      if(stateParam != '')
        baseUrl += 'code=' + stateParam + '&';
     
      if(protocolStartDate != '')
        baseUrl += 'startDate=' + protocolStartDate + '&';

      if(protocolEndDate != '')
        baseUrl += 'endDate=' + protocolEndDate + '&';

      baseUrl = baseUrl.substring(0, baseUrl.lastIndexOf('&') );
      
      $.getJSON(baseUrl, function(data){
          
          table.api().clear().draw();
          
          if(data){

            table.api().rows.add(data).draw();
            //showChart();
         }

      });
    });
  }

</script>
